---
const pathname = Astro.url.pathname;
const isSpanish = pathname.startsWith("/es");

const targetUrl = isSpanish ? "/" : "/es";

const label = isSpanish ? "ESPAÑOL" : "ENGLISH";
---

<a
  href={targetUrl}
  aria-label="Change language"
  class="rounded-full border-3 border-black bg-white px-4 py-2 text-m font-bold text-black shadow-sm transition hover:scale-105 hover:bg-black hover:text-white"
>
  {label}
</a>