---
const {
  text = "Read More",
  className = ""
} = Astro.props;
---

<button
  class={`show-more-btn mx-auto mt-8 block rounded-full border border-black px-6 py-2 font-semibold transition hover:bg-black hover:text-white ${className}`}
>
  {text}
</button>