---
const {
  text = "Read More",
  className = ""
} = Astro.props;
---

<button
  class={`show-more-btn mx-auto mt-8 block rounded-full border border-black bg-black px-6 py-2 font-semibold text-white transition hover:bg-white hover:text-black ${className}`}
>
  {text}
</button>